.page {
  width: 100%;
  min-height: inherit;
  background-image: url(../../assets/encyclopedia_background.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  overflow-x: hidden;
}
