@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

$header-font: "Bangers", cursive;
$font-primary: "Nunito", sans-serif;

$color-primary: #2b8a3e;
$color-white: #fff;
