.page {
  width: 100%;
  min-height: inherit;
  background-image: url(../../assets/contact_background.jpg);
  background-size: cover;
  background-position: bottom;
}

.content {
  max-width: 1200px;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 1050px) {
  .content {
    flex-direction: column;
    align-items: stretch;
  }
}

@media screen and (max-width: 600px) {
  .content {
    padding: 2rem 0;
  }
}
