@import "../../styles/variables.scss";

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 6rem;
  border-radius: $border-radius;
  background-color: rgba(0, 0, 0, 0.8);
  animation: fadeInRight 1s ease-in-out;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: $color-primary;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.inputField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contactInput {
  padding: 0.5rem 1rem;
  border-radius: $border-radius;
  border: none;
  outline: none;
  font-size: 1.8rem;
}

.error {
  margin: 0;
  font-size: 1.4rem;
  color: red;
}

.contactTextarea {
  resize: none;
  min-width: 50rem;
  height: 15rem;
}

.contactBtn {
  border: none;
  outline: none;
  border-radius: $border-radius;
  padding: 1rem 2rem;
  background-color: $color-primary;
  color: $color-white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    filter: brightness(1.2);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 1050px) {
  .contactTextarea {
    min-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .contact {
    padding: 4rem 2rem;
    width: 100%;
    border-radius: 0;
  }
}
