@import "../../styles/variables.scss";

.navbar {
  width: 100%;
  padding: 2.4rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarList {
  display: flex;
  align-items: center;
  gap: 6rem;
  list-style: none;
}

.navbarElement {
  font-size: 2.4rem;
  font-weight: 600;
  color: $color-grey-light;
  text-decoration: none;

  &:hover {
    color: $color-white;
    text-decoration: underline;
  }
}

.navbarElementActive {
  color: $color-white;
}
