@import "../../styles/variables.scss";

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 6rem;
  border-radius: $border-radius;
  background-color: rgba(0, 0, 0, 0.8);
  animation: fadeInLeft 1s ease-in-out;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: $color-primary;
}

.element {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.icon {
  font-size: 2rem;
  color: $color-primary;
}

.link {
  color: inherit;
  text-decoration: none;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
