@import "../../styles/variables.scss";

.testimonial {
  background-color: rgba($color: #000000, $alpha: 0.8);
  max-width: 80rem;
  padding: 6rem;
  position: relative;
  margin: 4rem;
  border-radius: $border-radius;

  &:nth-child(odd) {
    animation: fadeInLeft 0.8s ease-in-out;
  }

  &:nth-child(even) {
    align-self: flex-end;
    animation: fadeInRight 0.8s ease-in-out;
  }
}

.testimonialNum {
  position: absolute;
  bottom: 55%;
  right: 92%;
  color: $color-primary;
  font-size: 14rem;
}

.testimonialTitle {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: $color-primary;
  text-align: center;
}

.testimonialDescription {
  text-align: justify;
  line-height: 1.8;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
