@import "../../styles/variables.scss";

.filters {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 80vw;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: $border-radius;
  margin-top: 6rem;
  justify-self: flex-start;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.filtersList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  margin: 0 auto;
  margin-bottom: 1.6rem;
}

.resetBtn {
  margin-bottom: 1.2rem;
  border: none;
  outline: none;
  border-radius: $border-radius;
  background-color: $color-primary;
  color: $color-white;
  padding: 0.6rem 1.3rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    filter: brightness(1.2);
  }
}

@media screen and (max-width: 800px) {
  .filters {
    max-width: 100%;
    border-radius: 0;
  }
}

@media screen and (max-width: 600px) {
  .filters {
    margin-top: 2rem;
  }

  .filtersList {
    justify-content: center;
  }
}
